.container, footer, .jumbotron, header, .gallery {
	display: flex;

}
body {
	margin: 0;

}
h1 {
	font-size: 2vw;

}
p {}
header {
	height: 5vw;
	background-color: #000;
	justify-content: flex-end;
	align-items: flex-end;

}
header .container {
	margin: 0;
	padding: 0;

}
header ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

}	
header ul li {
	display: inline-flex;

}
header a {
	text-decoration: none;
	color: #fff;
	padding: 10px 2vw;

}
header a:hover {
	background-color: #ccc;

}
.jumbotron, .gallery, .cart-section {
	margin: 4vw 0;

}
.jumbotron {
	align-items: center;
	justify-content: center;
	font-size: 2vw;

}
.gallery {
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;

}
.gallery img {
	margin-bottom: 20px;

}
.cart {
	min-width: 200px;
	background-color: #5f3e6c;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.cart-section .container {
	flex-wrap: wrap;
	justify-content: center;

}
.cart p, footer p {
	color: #fff;
	font-size: 10px;

}
footer {
	background-color: #000;
	justify-content: center;

}
footer .company-name {
	display: flex;
	flex-grow: 2;
	justify-content: center;

}
footer div:nth-child(2){
	text-align: center;
}
footer div:last-of-type{
	text-align: right;
}