doctype html
html
    head
        title 17.7 google auth page
        style
            include ../css/style.css
    body
        h1 simple pug google auth page
        a(href='http://localhost:3000/auth/google') SignIn