html
    head
        title welcome
        style
            include ../css/style.css
    body
        h1 Hi, user
        p you have logged in correctly
        iframe(src="https://giphy.com/embed/xT0xezQGU5xCDJuCPe" width="480" height="217" frameBorder="0" class="giphy-embed")
