* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 3px;
	border: none;
}

ul,ol {
	list-style: none;
}

button {
	border: none;
	cursor: pointer;
	outline: none;
}

.board {
	position: relative;
}

.board h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 40px;
}

.create-column {
	padding: 10px;
	color: #FFF;
	background: #9dc3e6;
	position: absolute;
	display: inline-block;
	top: 6px;
	left: 6px;
}

.column-container {
	max-width: 1200px;
	margin: 0 auto;
	display: table;
	min-height: 400px;
	position: relative;
}

.column {
	display: table-cell;
	width: calc(1200px / 3);
	position: relative;
	border-right: 5px dashed #c5e0b4;
	border-radius: 0;
}
.column:first-child {
	border-left: 5px dashed  #c5e0b4;
}

.column + .column {
	border-left: 1px solid white;
}

.card {
	background: #a9d18e;
	color:#FFF;
	padding: 10px 14px;
	position: relative;
	margin: 2% 2%;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
}

.columnt-card-list {
	width: 90%;
	min-height: 60px;
	margin-right: auto;
	margin-left: auto;
}

.card-placeholder {
	padding: 10px 14px;
	margin: 2% 2%;
	background: #E4F1FE; 		
}

.card-description {
	word-wrap: break-word;
	width: 96%;
}

.column > button[class="add-card"] {
	width: 85%;
	bottom: -40px;
	left: 0;
	position: absolute;
}

.card > button[class^="btn"] {
	background: none;
	color:#FFF;
	font-weight: 300;
	position: absolute;
	transform: translateY(-50%);
	top:50%;
	right: 2%;
}

.card .btn-delete:hover {
	color: #22313F;
	transition: 0.5s;
}

.column > button[class^="btn"] {
	width: 15%;
	color: #FFF;
	position: absolute;
	bottom:-40px;
	right: 0;

}
.column-title {
	padding: 20px 0 20px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	color: #22313F;
	background-color: #f2f2f2;
	cursor: pointer;
	border-radius: 0;

}
.add-card {
	background: #ffd966;
	padding: 10px 15px;
	font-size: 15px;
	color: #FFF;

}
.btn-delete {
	background: #f4b183;
	font-weight: 300;
	font-size: 15px;
	padding: 10px;

}