form {
	padding: 10px;
    background-color: #279043;
}
form input {
	padding: 10px;
    border: none;
    padding-left: 20px;
    width: 70%;
    color: #000;
}
form button {
	height: 100%;
    background-color: #255C7A;
    border: none;
    padding: 10px;
    width: 30%;
}