body {
 	background-color: #2ecc71;
 	margin: 0px auto;

}
.content {
	width: 500px;
	margin: 0 auto;
	background-color: white;
	padding: 20px;
}
h1 {
	text-align: center;
}
img {
	width: 100%;
}
.header {
	text-align: center;
	padding: 30px 0;
	background-color: #f39c12;
	color:white;
}
.footer {
	background-color: #7f8c8d;
	text-transform: uppercase;
	font-weight: bold;

}
p {
	margin: 0px auto;
	padding: 30px 0 15px 20px;
	text-align:center;
}

