.TodoApp {
	color: #222;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: absolute;
	top: 17%;
	right: 17%;

}

